---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Games">
  <h1>Tools</h1>
  <div class="list">
    <p>
      <a href="./wnrs/">WE'RE NOT REALLY STRANGERS</a>
    </p>
    <p>
      <a href="./frametime/">Frametime calculator</a>
    </p>
  </div>
</BaseLayout>

<style>
  .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
