---
import Social from "@components/Social.astro";
---

<footer>
  <Social
    text="GitHub"
    link="https://github.com/multimattia/astro-starter-blog"
  />
  <p>Made with lots of Ovaltine.</p>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
  }

  p {
    color: var(--color-light-deemp);
    font-size: 0.75em;
    font-style: italic;
    text-align: center;
  }

  html.dark p {
    color: var(--color-night-deemp);
  }
</style>
