---

---

<footer>
  <span class="border"></span>
  <div class="clusters">
    <div class="left-cluster">
      <div class="column">
        <a href="/about">About</a>
        <a href="/colophon">Colophon</a>
        <a target="_blank" href="https://github.com/multimattia">GitHub</a>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/matthew-chan-skid23/">LinkedIn</a
        >
      </div>
      <div class="column">
        <a target="_blank" href="https://open.spotify.com/user/jasamzakon"
          >Spotify</a
        >
        <a target="_blank" href="https://letterboxd.com/BoneFillet/"
          >Letterboxd</a
        >
        <a target="_blank" href="https://steamcommunity.com/id/Frogscape/"
          >Steam</a
        >
        <a target="_blank" href="https://www.goodreads.com/maatwo">Goodreads</a>
      </div>
    </div>
    <div class="right-cluster">
      <p>Vote, please!</p>
    </div>
  </div>
</footer>

<style>
  html.dark .border {
    border-top: 1px solid var(--color-night-listing-bg);
  }

  a:visited {
    color: var(--color-light-a);
  }

  html.dark a:visited {
    color: var(--color-night-a);
  }

  a {
    font-size: 0.8rem;
    text-decoration-thickness: 1px;
    text-decoration-color: #bbb;
    text-align: left;
  }

  a:hover {
    text-underline-offset: 2px;
    text-decoration-color: #000;
    background-color: unset;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 750px;
    text-align: center;
    min-width: calc(100% - 40px);
  }

  .clusters {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-top: 3rem;
    width: 100%;
    gap: 3rem;
  }
  .left-cluster {
    display: flex;
    flex-direction: row;
    gap: 1.9rem;
  }

  .right-cluster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-items: start;
  }

  .border {
    margin-top: 2rem;
    position: absolute;
    min-width: 100%;
    border-top: 1px solid var(--color-light-listing-bg);
  }
  @media screen and (min-width: 687px) {
    a {
      font-size: 0.9rem;
    }
    .clusters {
      grid-template-columns: 1fr 4fr;
    }
  }

  p {
    font-family: var(--lexend);
    color: var(--color-light-deemp);
    font-size: 0.75em;
    font-style: italic;
    text-align: center;
  }

  html.dark p {
    color: var(--color-night-deemp);
  }
</style>
