---
import Social from "@components/Social.astro";
---

<footer>
  <Social
    text="GitHub"
    link="https://github.com/multimattia/astro-starter-blog"
  />
  <p>Made with lots of Ovaltine.</p>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto 0 auto;
    max-width: 750px;
    text-align: center;
    min-width: calc(100% - 40px);
  }

@media screen and (min-width: 687px) {
  footer {
    position: absolute;
    margin-top: 5rem;
    padding: 3rem 0;
    bottom: -150px;
  }
}

  p {
    color: var(--color-light-deemp);
    font-size: 0.75em;
    font-style: italic;
    text-align: center;
  }

  html.dark p {
    color: var(--color-night-deemp);
  }
</style>
