---
import Navigation from "@components/LayoutComponents/Navigation.astro";
import Hamburger from "@components/LayoutComponents/Hamburger.astro";
import ThemeIconAndToggle from "@components/LayoutComponents/ThemeIconAndToggle.astro";
const { activeLink } = Astro.props;
---

<nav>
  <span class="hamburger">
    <Hamburger />
  </span>
  <Navigation activeLink={activeLink} />
  <span class="icon-container">
    <ThemeIconAndToggle />
  </span>
</nav>
<script>
  document.querySelector(".hamburger")?.addEventListener("click", () => {
    document.querySelector(".nav-links")?.classList.toggle("expanded");
    document.querySelector(".icon-container")?.classList.toggle("expanded");
  });
</script>

<style>
  .expanded {
    display: none;
  }

  nav {
    top: 0;
    width: 100%;
    height: 71px;
    background-color: none;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 101;
  }

  @media screen and (min-width: 687px) {
    nav {
      height: 90px;
      max-width: 750px;
      justify-content: unset;
      position: sticky;
      background-color: var(--color-light-bg);
    }

    html.dark nav {
      background-color: var(--color-night-bg);
    }
  }
</style>
