---
const { activeLink } = Astro.props;
const linkList = [
  ["Home", "/"],
  ["Blog", "/blog"],
  ["Fiction", "/fiction"],
];
---

<div class="nav-links">
  {
    linkList.map((link) => (
      <a
        href={link[1]}
        style={
          activeLink.toLowerCase() === link[0].toLowerCase()
            ? "text-decoration:underline; text-decoration-thickness: 2px; text-underline-offset: 5px;"
            : ""
        }
      >
        {link[0]}
      </a>
    ))
  }
</div>

<style>
  .nav-links {
    display: none;
  }

  .nav-links a {
    display: block;
    text-align: center;
    padding: 0.6rem 0.5rem;
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    border-radius: 5px;
    letter-spacing: -1.2px;
    z-index: 151;
  }

  .nav-links a:hover,
  .nav-links a:focus {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
  }

  .nav-links a:active {
    transform: scale(0.9);
  }

  html.dark .nav-links a {
    color: var(--color-night-a);
  }

  .expanded {
    display: block;
    max-width: 50%;
    align-self: flex-start;
    flex-grow: 1;
    background-color: var(--color-light-bg);
    border-radius: 5px;
    transition: all 0.2s var(--improved-ease);
    box-shadow: var(--shadow-light-elevation-medium);
    margin-top: 11rem;
    margin-right: 9rem;
  }

  html.dark .expanded {
    background-color: var(--color-night-bg);
    box-shadow: unset;
  }

  @media screen and (min-width: 686px) {
    .nav-links {
      display: block;
      top: 0px;
      min-width: 81%;
      flex-grow: 1;
    }
    .expanded {
      margin-top: 1rem;
      box-shadow: none;
    }

    .nav-links a,
    .width {
      display: inline-block;
      margin: 0 0.2rem;
    }

    .nav-links a:nth-child(1) {
      margin-left: 0;
    }
  }
</style>
