---
import { getCollection } from "astro:content";
import MarkdownPostLayout from "@layouts/MarkdownPostLayout.astro";
import TableOfContents from "@components/TableOfContents.astro";

export const prerender = true;

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
console.log(headings);
---

<MarkdownPostLayout frontmatter={entry.data}>
  {
    headings.length > 0 && (
      <TableOfContents slot="right-body" headings={headings} />
    )
  }
  <div class="main-content">
    <Content />
  </div>
</MarkdownPostLayout>
