html {
  background-color: #f1f5f9;
  font-family: "Lexend Variable", sans-serif;
  height: 100%;
}

html.dark {
  background-color: #0d0950;
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

a {
  color: #4c1c95;
  transition: all 0.1s ease-in-out;
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  font-weight: 600;
}

.dark a {
  color: rgb(251, 173, 31);
}

a:visited {
  color: #6e3db7;
}

.dark a:visited {
  color: rgb(248, 209, 100);
}

a:hover {
  background-color: rgb(186, 252, 20);
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
}

html.dark a:hover {
  background-color: rgb(181, 81, 188);
  color: rgb(252, 193, 82);
}

.dark .tag a {
  color: black;
}

.active {
  text-decoration: underline;
}
