:root {
  --shadow-light-color: 210deg 12% 61%;
  --shadow-light-elevation-medium: 0px 0.3px 0.4px
      hsl(var(--shadow-light-color) / 0.62),
    0px 5.7px 6.7px -2.2px hsl(var(--shadow-light-color) / 0.71);
  --shadow-night-color: 243deg 94% 6%;
  --shadow-night-elevation-medium: 0px 0.2px 0.2px
      hsl(var(--shadow-night-color) / 0.86),
    0.1px 4px 4.3px -2.8px hsl(var(--shadow-night-color) / 0.75);
  --color-light-bg: rgb(241, 245, 249);
  --color-light-a: rgb(76, 28, 149);
  --color-light-a-visited: rgb(110, 61, 183);
  --color-light-a-highlight: rgb(187, 252, 200);
  --color-light-listing-bg: rgb(235, 235, 235);
  --color-light-listing-hl: rgb(225, 245, 225);
  --color-light-deemp: rgb(84, 84, 84);
  --color-night-bg: rgb(18, 16, 70);
  --color-night-a: rgb(253, 219, 156);
  --color-night-a-visited: rgb(228, 226, 220);
  --color-night-a-highlight: rgb(148, 23, 146);
  --color-night-text: rgb(236, 236, 236);
  --color-night-listing-bg: rgb(45, 39, 133);
  --color-night-listing-hl: rgb(70, 64, 166);
  --color-night-deemp: rgb(226, 226, 226);
  --base-margin: 0.5rem;
  --improved-ease: cubic-bezier(0.44, 0.21, 0, 1);
  --title-time: 0.5s;
  --shadow-color-night: 242deg 90% 8%;
  --shadow-elevation-low-night: 0px 0.3px 0.3px
      hsl(var(--shadow-color-night) / 0.27),
    0px 0.5px 0.6px -1.2px hsl(var(--shadow-color-night) / 0.27),
    0px 1.1px 1.2px -2.5px hsl(var(--shadow-color-night) / 0.27);
  --shadow-elevation-medium-night: 0px 0.3px 0.3px
      hsl(var(--shadow-color-night) / 0.28),
    0px 0.9px 1px -0.8px hsl(var(--shadow-color-night) / 0.28),
    0px 2.2px 2.5px -1.7px hsl(var(--shadow-color-night) / 0.28),
    0.1px 5.3px 6px -2.5px hsl(var(--shadow-color-night) / 0.28);
  --shadow-elevation-high-night: 0px 0.3px 0.3px
      hsl(var(--shadow-color-night) / 0.3),
    0px 1.6px 1.8px -0.4px hsl(var(--shadow-color-night) / 0.3),
    0.1px 3.1px 3.5px -0.8px hsl(var(--shadow-color-night) / 0.3),
    0.1px 5.3px 6px -1.2px hsl(var(--shadow-color-night) / 0.3),
    0.2px 9px 10.1px -1.7px hsl(var(--shadow-color-night) / 0.3),
    0.3px 14.7px 16.5px -2.1px hsl(var(--shadow-color-night) / 0.3),
    0.5px 23.2px 26.1px -2.5px hsl(var(--shadow-color-night) / 0.3);
  --shadow-color: 210deg 12% 68%;
  --shadow-elevation-low: 0px 0.3px 0.3px hsl(var(--shadow-color) / 0.27),
    0px 0.5px 0.6px -1.2px hsl(var(--shadow-color) / 0.27),
    0px 1.1px 1.2px -2.5px hsl(var(--shadow-color) / 0.27);
  --shadow-elevation-medium: 0px 0.3px 0.3px hsl(var(--shadow-color) / 0.28),
    0px 0.9px 1px -0.8px hsl(var(--shadow-color) / 0.28),
    0px 2.2px 2.5px -1.7px hsl(var(--shadow-color) / 0.28),
    0.1px 5.3px 6px -2.5px hsl(var(--shadow-color) / 0.28);
  --shadow-elevation-high: 0px 0.3px 0.3px hsl(var(--shadow-color) / 0.3),
    0px 1.6px 1.8px -0.4px hsl(var(--shadow-color) / 0.3),
    0.1px 3.1px 3.5px -0.8px hsl(var(--shadow-color) / 0.3),
    0.1px 5.3px 6px -1.2px hsl(var(--shadow-color) / 0.3),
    0.2px 9px 10.1px -1.7px hsl(var(--shadow-color) / 0.3),
    0.3px 14.7px 16.5px -2.1px hsl(var(--shadow-color) / 0.3),
    0.5px 23.2px 26.1px -2.5px hsl(var(--shadow-color) / 0.3);
}

* {
  min-width: 0;
  box-sizing: border-box;
  margin: 0;
  transition: color;
}

html *::selection {
  background: var(--color-light-a-highlight);
}

html.dark *::selection {
  background: var(--color-night-a-highlight);
}

html *::-moz-selection {
  background: var(--color-light-a-highlight);
}

html.dark *::-moz-selection {
  background: var(--color-night-a-highlight);
}

html {
  font-family: var(--lexend), "Adjusted Arial Fallback";
  font-display: optional;
  background-color: var(--color-light-bg);
  /* background-image: url('/noise.svg'); */
}

@font-face {
  font-family: "Adjusted Arial Fallback";
  src: local(arial);
  font-size: 20px;
  line-height: 1.8;
  color: red;
  visibility: visible;
  font-display: "swap";
  letter-spacing: 0.45px;
  word-spacing: 2px;
}

html.dark {
  background-color: var(--color-night-bg);
  /* background-image: url('/dnoise.svg'); */
  color: var(--color-night-text);
}

.website {
  position: relative;
  min-height: calc(100vh - 89px);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 750px;
  line-height: 1.8;
  margin: 2rem auto 5rem auto;
  padding: 0 1.25rem;
}

@media screen and (min-width: 687px) {
  .website {
    padding: 0 0;
    margin-top: 0.7rem;
  }
}

h1 {
  font-family: var(--lexend-bold);
  padding-bottom: 1rem;
  letter-spacing: -1.8px;
  line-height: 1.2;
  font-size: 2.5rem;
  color: black;
}

h2 {
  margin-bottom: var(--base-margin);
}

p {
  margin: 0 0 0.5rem 0;
}

p,
li {
  letter-spacing: 0.25px;
}

ul {
  margin-bottom: var(--base-margin);
}

@media screen and (min-width: 687px) {
  body {
    font-size: 1.25em;
    overflow-y: scroll;
  }
}

html.dark h1 {
  color: #fff;
}

a {
  transition: all 0.1s var(--improved-ease);
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  color: var(--color-light-a);
}

html.dark a {
  color: var(--color-night-a);
}

a:visited {
  color: var(--color-light-a-visited);
}

html.dark a:visited {
  color: var(--color-night-a-visited);
}

a:hover {
  background-color: var(--color-light-a-highlight);
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

html.dark a:hover {
  background-color: var(--color-night-a-highlight);
  color: var(--color-night-a-visited);
}

.active {
  text-decoration: underline;
}
