:root {
  --shadow-light-color: 210deg 12% 61%;
  --shadow-light-elevation-medium: 0px 0.3px 0.4px
      hsl(var(--shadow-light-color) / 0.62),
    0px 5.7px 6.7px -2.2px hsl(var(--shadow-light-color) / 0.71);

  --color-light-bg: #f1f5f9;
  --color-light-a: #4c1c95;
  --color-light-a-visited: #6e3db7;
  --color-light-a-highlight: rgb(187, 252, 200);
  --color-light-listing-bg: rgb(235, 235, 235);
  --color-light-listing-hl: rgb(225, 245, 225);
  --color-light-deemp: #757474;

  --color-night-bg: #0d0950;
  --color-night-a: rgb(251, 173, 31);
  --color-night-a-visited: rgb(248, 209, 100);
  --color-night-a-highlight: rgb(204, 5, 201);
  --color-night-text: #ececec;
  --color-night-listing-bg: #2d2785;
  --color-night-listing-hl: #4640a6;
  --color-night-deemp: #e2e2e2;
}

* {
  box-sizing: border-box;
  transition:
    color,
    background-color 0.25s cubic-bezier(0.44, 0.21, 0, 1);
}

html {
  background-color: var(--color-light-bg);
  font-family: "Lexend Variable", sans-serif;
  font-display: optional;
  font-weight: 350;
  height: 100%;
}

html.dark {
  background-color: var(--color-night-bg);
  color: var(--color-night-text);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 750px;
  padding: 1rem;
  line-height: 1.8;
}

h1 {
  letter-spacing: -1.8px;
  line-height: 1.2;
  margin: 1rem 0;
  font-size: 2.5rem;
  color: black;
  padding-top: 0px;
}

@media screen and (min-width: 687px) {
  h1 {
    padding-top: 15px;
  }
  body {
    font-size: 1.25em;
    padding: 0 1rem 1rem 1rem;
  }
}

html.dark h1 {
  color: #fff;
}

p {
  letter-spacing: 0.25px;
}

li {
  letter-spacing: 0.25px;
}

a {
  transition: all 0.1s cubic-bezier(0.44, 0.21, 0, 1);
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  font-weight: 600;
  color: var(--color-light-a);
}

html.dark a {
  color: var(--color-night-a);
}

a:visited {
  color: var(--color-light-a-visited);
}

html.dark a:visited {
  color: var(--color-night-a-visited);
}

a:hover {
  background-color: var(--color-light-a-highlight);
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
}

html.dark a:hover {
  background-color: var(--color-night-a-highlight);
  color: var(--color-night-a-visited);
}

.active {
  text-decoration: underline;
}
