---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogListing from "@components/BlogListing.astro";

export const prerender = true;
export async function getStaticPaths(): Promise<any> {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag} highlightedTab="Tags">
  <h1>Posts tagged with <code>{tag}</code></h1>
  <a href="/blog">Back to blog</a>
  <dl>
    {posts.map((post) => <BlogListing post={post} />)}
  </dl>
</BaseLayout>
