---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogListing from "@components/BlogListing.astro";
import type { Post } from "src/types";

export const prerender = true;
export async function getStaticPaths(): Promise<any> {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts }: { posts: Post[] } = Astro.props;
---

<BaseLayout pageTitle={tag} highlightedTab="Blog">
  <span>
    <a href="/blog">{`<`}</a>
    <h1>
      <code>{tag}</code>
    </h1>
  </span>
  <dl>
    {
      posts.map((post: Post) => (
        <BlogListing post={post} url={`/posts/${post.slug}/`} />
      ))
    }
  </dl>
</BaseLayout>

<style>
  a {
    align-self: flex-start;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    text-decoration: none;
    min-width: 2ch;
  }

  a:hover {
    font-family: var(--lexend-bold);
    background-color: transparent;
  }

  span {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
