---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TagCluster from "../../components/TagCluster.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout pageTitle="Tags" highlightedTab="tags">
  <h1>The optimal way to organize streams of consciousness. (tags)</h1>
  <TagCluster />
</BaseLayout>
