---
import "../styles/global.css";
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle} highlightedTab={pageTitle}>
  <h1>Prattling on about myself.</h1>
  <p>
    Hey again! In case you missed it the first time: I'm <b>Matt Chan</b>
     (he/they). I'm a CS grad (and English minor, can't forget that) from <a
      href="https://www.skidmore.edu/computer_science/">Skidmore College</a
    >, and, less academically, from <b>Hong Kong</b>! I'm currently living in <b
      >Brooklyn, NY!
    </b>
    <p>
      I'm a software developer that enjoys making tools and cool-looking doodads
      for myself and others. I've developed, configured, and deployed everything
      from <b>Nginx-served websites in different subdomains</b>, (lightly)
      modded <b> Minecraft servers on the cloud</b>, literally-on-demand <b
        >streaming services</b
      > for friends and family, a programmable <b>Playwright testing suite</b>
      (before the real one came along!) and fully-custom <b>
        marketing websites</b
      > for my colleagues.
    </p>
    <p>
      I'm also a co-founder of Skidmore's Computer Science club. There, I
      adapted and delivered lectures about everyone's favorite version control
      system: Git!
    </p>
    <p>
      I have found that it is sometimes more fruitful to have conversations
      about my hobbies and interests than it is to actually engage in them by
      myself (often for too long; my introversion is very spiky). In my spare
      time, I like to:
    </p>

    <ul>
      <li>Ride bicycles</li>
      <li>Take (frequent) walks</li>
      <li>Meditate, when I remember to!</li>
      <li>Play bass</li>
      <li>
        Consume <a href="https://www.joshwcomeau.com/react/server-components/"
          >way</a
        >
        <a href="https://vercidium.com/blog/voxel-world-optimisations/">too</a>
        <a
          href="https://www.theatlantic.com/technology/archive/2023/12/internet-information-trends-virality-tracking/676888/"
          >many</a
        > blog posts and articles about technology
      </li>
      <li>
        Read (currently <a href="https://en.wikipedia.org/wiki/The_Dispossessed"
          >The Dispossessed</a
        >)
      </li>
      <li>
        Maintain <a
          href="https://open.spotify.com/playlist/47hZ7rIvRiBU7egnSF9LTb?si=2e00221db4a24b73"
          >my Spotify playlist</a
        > (singular)
      </li>
      <li>
        Mess around in my keyboard's <a
          href="https://configure.zsa.io/voyager/layouts/alBEv/rnPx9/0"
          >firmware</a
        > for the <em><b><u>optimal</u></b></em> layout
      </li>
    </ul>

    <p>
      If any of the above interests you, <a
        href="mailto:matthewhongkong20@gmail.com?subject=Something I want to talk about...!"
        >shoot me an email</a
      > or connect with me on <a
        href="https://www.linkedin.com/in/matthew-chan-skid23/">LinkedIn</a
      >! I'm always interested in meeting new people.
    </p>

    <p>
      This website was made with an iteration or two of Josh W. Comeau's <a
        href="https://www.joshwcomeau.com/blog/how-to-learn-stuff-quickly/#mixing-guided-and-unguided-learning-1"
        >Tutorial Fade</a
      > technique.
    </p>
    <p>
      I don't have much to lose, but I do have a lot that I <em>want</em> to
      prove. I'm willing to put in the work for it. This is my website. I'll be
      using it as accountability for myself.
    </p>
  </p>
</BaseLayout>
