---
import '../styles/global.css'
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

const pageTitle = "Blog"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header activeLink={pageTitle}/>
		<h2>Should I be building in public? Of course I should!</h2>
		<p>This blog will serve as an extended lesson on the dangers of procrastination and <a href="https://en.wiktionary.org/wiki/yak_shaving">yakshaving</a>. (it's the second noun (nounic?) definition.)</p>
        <ul>
            <li><a href="/posts/post-1">Post 1</a></li>
            <li><a href="/posts/post-2">Post 2</a></li>
            <li><a href="/posts/post-3">Post 3</a></li>
        </ul>
		<Footer />
	</body>
</html>
