---
import { getCollection } from "astro:content";
import "../styles/global.css";
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogPost from "@components/BlogPost.astro";
const allPosts = await getCollection("posts");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle} highlightedTab="Blog">
  <h1>Thoughts, rambles, etc.</h1>
  <p>
    Writing is a powerful tool. See some of my writing here. Keep in mind that
    my posts will likely benefit myself more than the reader. Nonetheless, I
    appreciate you taking the time to read them!
  </p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
