---
import { getCollection } from "astro:content";
import "../styles/global.css";
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogListing from "@components/BlogListing.astro";
import TagCluster from "@components/TagCluster.astro";
const allPosts = await getCollection("posts");
console.log(allPosts[0]);
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Blog";
console.log(
  `${allPosts
    .filter((post) => !post.data.tags.includes("personal"))
    .forEach((post) => {
      console.log(post.data.tags);
    })}`
);
---

<BaseLayout pageTitle={pageTitle} highlightedTab="Blog">
  <h1>Blog</h1>
  <p>These posts are more for me than for you.</p>
  <TagCluster tags={tags} />
  <p id="personal">
    <a href="/tags/personal/">personal posts</a>
  </p>
  <dl>
    {
      allPosts
        .filter((post) => !post.data.tags.includes("personal"))
        .reverse()
        .map((post) => <BlogListing post={post} url={`/posts/${post.slug}/`} />)
    }
  </dl>
  <div id="personal"></div>
</BaseLayout>

<style>
  #personal {
    display: block;
  }
  a {
    font-size: 0.9rem;
    text-decoration-thickness: 1px;
  }
</style>
