---
import { getCollection } from "astro:content";
import "../styles/global.css";
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogListing from "@components/BlogListing.astro";
const allStories = await getCollection("fiction");
const pageTitle = "Fiction";
---

<BaseLayout pageTitle={pageTitle} highlightedTab="Fiction">
  <h1>Fiction</h1>
  <p>
    See some of my stories here. Don't read into them too much. Or do, see if I
    care (I might do).
  </p>
  <p>
    <i>Any similarity to persons living or dead is entirely coincidental.</i>
  </p>
  <dl>
    {
      allStories
        .reverse()
        .map((story) => (
          <BlogListing post={story} url={`/fiction/${story.slug}/`} />
        ))
    }
  </dl>
</BaseLayout>
