---
import BaseLayout from "@layouts/BaseLayout.astro";
import Tooltip from "@components/pizazz/Tooltip.astro";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle} highlightedTab={pageTitle}>
  <h2>
    <strong><a href="/about">Matt Chan</a></strong> is a software developer who
    enjoys making tools that tries to bring people <span class="closer">
      closer together</span
    >. They also like to write. Currently in Brooklyn, his current focus is on
    full-stack web development and getting to know people both new and familiar.
  </h2>
  <div class="postit">
    <p>
      Matt is currently available for both contract and full-time positions. He
      has professional experience in HTML/CSS/JS, React, Webpack, jQuery,
      Playwright, and SQL (SQLite).
    </p>
    <p>
      Matt has also worked with Java, Spring, Astro, Next.js, PostgreSQL,
      Drizzle, Cloudflare Workers/Pages, Inngest, Vercel's deployment platform,
      GitHub Actions, Docker/Docker Compose, AWS EC2, and Google Cloud Run.
    </p>

    <p>
      In short, Matt keeps up with the cutting edge of the web development world
      without neglecting his fundamentals. He's confident he will hit the ground
      running in React codebases.
    </p>
    <p>
      <a href="mailto:mattdev23@protonmail.com?subject=Development Work Inquiry"
        >Send Matt an email.</a
      >
    </p>
  </div>

  <!-- <p>
    We stand on the shoulders of giants. Shortcuts, and especially those that
    somehow reinvent the wheel at the same time, often don't pay off! It took a
    <a href="https://en.wikipedia.org/wiki/Masters_of_Doom">very special book</a
    > (along with some <em>tough</em> life lessons) to convince me otherwise.
  </p>

  <p>
    Now, I get that a site built on a <a href="https://astro.build"
      >meta-framework</a
    >, hosted on a <a href="https://pages.cloudflare.com/">CDN</a>
     isn't especially bottom-up. And you'd be right. If you want bottom up from
    me, visit
    <a href="https://mc.maatwo.com">mc.maatwo.com</a> using a certain video game
    associated with port number 25565 😏
  </p>

  <p>
    This website is a space of <a
      href="https://github.com/multimattia/astro-starter-blog/commits/main/"
      >constant iteration</a
    >. Although "move fast and break things" might not be the wisest choice in
    production, I feel that it's a valid <Tooltip
      text="way"
      hover="The best way."
    />
     to learn. As such, things may not always be working as intended. Take care
    to not trip over something while you're in my small corner of the internet
    :)
  </p> -->
</BaseLayout>

<style>
  h2 {
    /* text-align: justify; */
  }

  .postit p {
    display: flex;
    justify-content: flex-end;
  }

  html.dark .postit p {
    color: black;
  }

  html.dark .postit p::selection {
    background-color: var(--color-light-a-highlight);
  }

  html.dark .postit a::selection {
    background-color: var(--color-light-a-highlight);
  }

  html.dark .postit a {
    color: var(--color-light-a);
  }

  html.dark .postit a:visited {
    color: var(--color-light-a-visited);
  }

  html.dark .postit a:hover {
    background-color: var(--color-light-a-highlight);
  }

  .postit {
    transform: rotate(-0.8deg);
    margin-top: 1rem;
    padding: 1.3rem 2rem;
    background-color: #ffeba1;
    position: relative;
    bottom: 10px;
    -webkit-box-shadow: -11px 12px 9px -2px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: -11px 12px 9px -2px rgba(0, 0, 0, 0.46);
    box-shadow: -11px 12px 9px -2px rgba(0, 0, 0, 0.46);
    transition: transform 0.3s ease;
  }

  p:hover {
    transform: rotate(0deg);
  }

  @media screen and (max-width: 687px) {
    h2 {
      text-align: left;
    }
  }
</style>
