---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle} highlightedTab={pageTitle}>
      <h2>This is my first Astro site! (is it)?</h2>
      <p>
        I really don't remember. Maybe I spun something up a long time ago
        because Astro needed an update, not a fresh install 🤔
      </p>
    </BaseLayout>
  </body>
</html>
