---
import BaseLayout from "@layouts/BaseLayout.astro";
import BackgroundStack from "@components/BackgroundStack.astro";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle} highlightedTab={pageTitle}>
  <h2>
    <strong><a href="/about/">Matt Chan</a></strong> is a software developer who
    enjoys making tools that try to bring people <span class="closer">
      closer together</span
    >. They also like to write. Currently in Brooklyn, his current focus is on
    full-stack web development and getting to know people better, both new and
    familiar.
  </h2>
  <!-- <svg width="0" height="0">
    <defs>
      <clipPath id="wipe-mask">
        <rect id="mask-rect" x="0" y="0" width="100%" height="0"></rect>
      </clipPath>
    </defs>
  </svg> -->
  <div class="postit">
    <div class="content" style="clip-path: url(#wipe-mask);">
      <p>
        Matt is currently available for both contract and full-time positions.
        He has professional experience in HTML/CSS/JS, React, Webpack, jQuery,
        Playwright, and SQL (SQLite).
      </p>
      <p>
        Matt has also worked with Java, Spring, Astro, Next.js, PostgreSQL,
        Drizzle, Cloudflare Workers/Pages, Inngest, Vercel's deployment
        platform, GitHub Actions, Docker/Docker Compose, AWS EC2, and Google
        Cloud Run.
      </p>

      <p>
        In short, Matt keeps up with the cutting edge of the web development
        world without neglecting his fundamentals. He's confident he can hit the
        ground running in React codebases — he's done it before!
      </p>
      <div class="bottom">
        <a href="/resume/">Resume</a>
        <a
          href="mailto:mattdev23@protonmail.com?subject=Development Work Inquiry"
          >Send Matt an email.</a
        >
      </div>
    </div>
  </div>

  <!-- <BackgroundStack text="test" layers={5} /> -->

  <!-- <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200">
    <circle id="ring" cx="100" cy="100" r="80" pathLength="1"></circle>
    <path id="tick" d="M 54 107.5 L 88 138.5 L 144.5 67.5" pathLength="1"
    ></path>
  </svg>
  <svg
    id="letters"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 300 300"
  >
    <path
      d="M73.020775,83.885458c-.673779-.33689,7.748456,94.665918,7.074677,95.002807q-.673779.336889,36.720943-5.72712"
      fill="none"
      pathLength="1"
      stroke="#3f5787"
      id="gone"
      stroke-width="4"
    >
    </path>
    <path
      d="M150,82.201011l-6.232454,102.077484"
      fill="none"
      stroke="#3f5787"
      id="gtwo"
      stroke-width="4"
      pathLength="1"
    >
    </path>
  </svg> -->

  <!-- <div
    class="framer-136zwkp"
    style="mask-size: 15px 15px; mask-image: radial-gradient(black 1px, transparent 1px); mask-position: 1.8375px 0px;"
  >
    <div class="ssr-variant hidden-12iuhnx">
      <div
        data-framer-component-type="SVG"
        data-framer-name="Logo"
        style="image-rendering:pixelated;flex-shrink:0;opacity:0.5"
        class="framer-12ocjgj hidden-lvsjqp"
      >
        <div
          class="svgContainer"
          style="width:100%;height:100%;aspect-ratio:inherit"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            style="width: 100%; height: 100%"
            ><use href="#svg11457123660"></use></svg
          >
        </div>
      </div>
    </div>
  </div>

  <div
    class="framer-1rfunri"
    style="mask-image: radial-gradient(black 1px, transparent 1px); mask-size: 4px 4px; opacity: 1;"
  >
    <div
      data-framer-component-type="SVG"
      data-framer-name="Logo"
      style="image-rendering:pixelated;flex-shrink:0;opacity:0.5"
      class="framer-fldj41"
    >
      <div
        class="svgContainer"
        style="width:100%;height:100%;aspect-ratio:inherit"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          style="width: 100%; height: 100%"
          ><use href="#svg11032939389"></use></svg
        >
      </div>
    </div>
  </div>

  <div
    id="svg-templates"
    style="position: absolute; overflow: hidden; top: 0; left: 0; width: 0; height: 0"
  >
    <div id="container_svg11457123660">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1103 386"
        id="svg11457123660"
        ><path
          d="M 416.473 0 L 198.54 385.66 L 0 385.66 L 170.17 84.522 C 196.549 37.842 262.377 0 317.203 0 Z M 903.348 96.415 C 903.348 43.166 947.792 0 1002.618 0 C 1057.444 0 1101.888 43.166 1101.888 96.415 C 1101.888 149.663 1057.444 192.83 1002.618 192.83 C 947.792 192.83 903.348 149.663 903.348 96.415 Z M 453.699 0 L 652.239 0 L 434.306 385.66 L 235.766 385.66 Z M 688.191 0 L 886.733 0 L 716.56 301.138 C 690.182 347.818 624.353 385.66 569.528 385.66 L 470.258 385.66 Z"
          fill='var(--token-6d6f97c3-5f4a-41b8-a7b9-eff3df1acd75, rgb(255, 8, 94)) /* {"name":"Tint"} */'
        ></path></svg
      >
    </div>
    <div id="container_svg9631357553">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 905 317"
        id="svg9631357553"
        ><path
          d="M 341.711 0 L 162.9 316.721 L 0 316.721 L 139.623 69.413 C 161.267 31.077 215.278 0 260.261 0 Z M 741.188 79.18 C 741.188 35.45 777.654 0 822.638 0 C 867.622 0 904.088 35.45 904.088 79.18 C 904.088 122.91 867.622 158.36 822.638 158.36 C 777.654 158.36 741.188 122.91 741.188 79.18 Z M 372.255 0 L 535.155 0 L 356.344 316.721 L 193.444 316.721 Z M 564.653 0 L 727.555 0 L 587.93 247.307 C 566.287 285.644 512.275 316.721 467.292 316.721 L 385.842 316.721 Z"
          fill='var(--token-6d6f97c3-5f4a-41b8-a7b9-eff3df1acd75, rgb(255, 8, 94)) /* {"name":"Tint"} */'
        ></path></svg
      >
    </div>
    <div id="container_svg9918496667">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 86 30"
        id="svg9918496667"
        ><path
          d="M 32.472 0 L 15.48 29.974 L 0 29.974 L 13.268 6.569 C 15.325 2.941 20.457 0 24.732 0 Z M 70.433 7.493 C 70.433 3.355 73.899 0 78.173 0 C 82.448 0 85.913 3.355 85.913 7.493 C 85.913 11.632 82.448 14.987 78.173 14.987 C 73.899 14.987 70.433 11.632 70.433 7.493 Z M 35.375 0 L 50.855 0 L 33.862 29.974 L 18.382 29.974 Z M 53.658 0 L 69.138 0 L 55.87 23.404 C 53.813 27.033 48.68 29.974 44.406 29.974 L 36.666 29.974 Z"
          fill="var(--token-f32baa44-90b8-42a5-8bca-ffba9d95b23a, rgb(237, 237, 237))"
        ></path></svg
      >
    </div>
    <div id="container_svg9602345876">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 77 27"
        id="svg9602345876"
        ><path
          d="M 29.074 0 L 13.86 26.976 L 0 26.976 L 11.88 5.912 C 13.721 2.647 18.316 0 22.144 0 Z M 63.062 6.744 C 63.062 3.019 66.165 0 69.992 0 C 73.82 0 76.922 3.019 76.922 6.744 C 76.922 10.469 73.82 13.488 69.992 13.488 C 66.165 13.488 63.062 10.469 63.062 6.744 Z M 31.673 0 L 45.533 0 L 30.319 26.976 L 16.459 26.976 Z M 48.042 0 L 61.903 0 L 50.023 21.064 C 48.181 24.329 43.586 26.976 39.759 26.976 L 32.829 26.976 Z"
          fill="var(--token-f32baa44-90b8-42a5-8bca-ffba9d95b23a, rgb(237, 237, 237))"
        ></path></svg
      >
    </div>
    <div id="container_svg11262938431">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 68 24"
        id="svg11262938431"
        ><path
          d="M 25.676 0 L 12.24 23.979 L 0 23.979 L 10.491 5.255 C 12.117 2.353 16.176 0 19.556 0 Z M 55.691 5.995 C 55.691 2.684 58.431 0 61.811 0 C 65.191 0 67.931 2.684 67.931 5.995 C 67.931 9.305 65.191 11.989 61.811 11.989 C 58.431 11.989 55.691 9.305 55.691 5.995 Z M 27.971 0 L 40.211 0 L 26.775 23.979 L 14.535 23.979 Z M 42.427 0 L 54.667 0 L 44.176 18.724 C 42.55 21.626 38.491 23.979 35.111 23.979 L 28.991 23.979 Z"
          fill="var(--token-f32baa44-90b8-42a5-8bca-ffba9d95b23a, rgb(237, 237, 237))"
        ></path></svg
      >
    </div>
    <div id="container_svg11848388432">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 15 15"
        id="svg11848388432"
        ><path
          d="M 4 6 C 4 4.895 4.895 4 6 4 L 12 4 C 13.105 4 14 4.895 14 6 L 14 12 C 14 13.105 13.105 14 12 14 L 6 14 C 4.895 14 4 13.105 4 12 Z"
          fill="var(--token-f32baa44-90b8-42a5-8bca-ffba9d95b23a, rgb(15, 17, 21))"
          stroke='var(--token-95cb0a67-053e-4ab2-a5d0-7294f60d31fe, rgb(16, 20, 26)) /* {"name":"Text"} */'
        ></path><path
          d="M 1 3 C 1 1.895 1.895 1 3 1 L 9 1 C 10.105 1 11 1.895 11 3 L 11 9 C 11 10.105 10.105 11 9 11 L 3 11 C 1.895 11 1 10.105 1 9 Z"
          fill="var(--token-f32baa44-90b8-42a5-8bca-ffba9d95b23a, rgb(15, 17, 21))"
          stroke='var(--token-95cb0a67-053e-4ab2-a5d0-7294f60d31fe, rgb(16, 20, 26)) /* {"name":"Text"} */'
        ></path></svg
      >
    </div>
    <div id="container_svg9556786404">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 15 15"
        id="svg9556786404"
        ><path
          d="M 1.5 8 L 6 12.5 L 14 2.5"
          fill="transparent"
          stroke='var(--token-95cb0a67-053e-4ab2-a5d0-7294f60d31fe, rgb(16, 20, 26)) /* {"name":"Text"} */'
          stroke-linecap="round"
          stroke-linejoin="round"></path></svg
      >
    </div>
    <div id="container_svg2697331094">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 40 14"
        id="svg2697331094"
        ><path
          d="M 15.103 0 L 7.2 13.988 L 0 13.988 L 6.171 3.066 C 7.128 1.372 9.515 0 11.503 0 Z M 32.76 3.497 C 32.76 1.566 34.371 0 36.36 0 C 38.348 0 39.96 1.566 39.96 3.497 C 39.96 5.428 38.348 6.994 36.36 6.994 C 34.371 6.994 32.76 5.428 32.76 3.497 Z M 16.453 0 L 23.653 0 L 15.75 13.988 L 8.55 13.988 Z M 24.957 0 L 32.157 0 L 25.986 10.922 C 25.029 12.615 22.642 13.988 20.654 13.988 L 17.054 13.988 Z"
          fill="var(--token-6d6f97c3-5f4a-41b8-a7b9-eff3df1acd75, rgb(255, 242, 8))"
        ></path></svg
      >
    </div>
    <div id="container_svg9980786770">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 15 15"
        id="svg9980786770"
        ><path
          d="M 1.875 6.875 C 1.875 4.114 4.114 1.875 6.875 1.875 C 9.636 1.875 11.875 4.114 11.875 6.875 C 11.875 9.636 9.636 11.875 6.875 11.875 C 4.114 11.875 1.875 9.636 1.875 6.875 Z M 13.125 13.125 L 10.406 10.406"
          fill="transparent"
          stroke-width="1.5"
          stroke='var(--token-95cb0a67-053e-4ab2-a5d0-7294f60d31fe, rgb(16, 20, 26)) /* {"name":"Text"} */'
          stroke-linecap="round"
          stroke-linejoin="round"></path></svg
      >
    </div>
    <div id="container_svg11032939389">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 500 175"
        id="svg11032939389"
        ><path
          d="M 188.791 0 L 90 174.846 L 0 174.846 L 77.14 38.32 C 89.098 17.156 118.938 0 143.791 0 Z M 409.496 43.711 C 409.496 19.57 429.643 0 454.496 0 C 479.349 0 499.496 19.57 499.496 43.711 C 499.496 67.853 479.349 87.423 454.496 87.423 C 429.643 87.423 409.496 67.853 409.496 43.711 Z M 205.666 0 L 295.666 0 L 196.875 174.846 L 106.875 174.846 Z M 311.963 0 L 401.964 0 L 324.823 136.526 C 312.866 157.69 283.025 174.846 258.172 174.846 L 213.172 174.846 Z"
          fill="var(--token-f32baa44-90b8-42a5-8bca-ffba9d95b23a, rgb(15, 17, 21))"
        ></path></svg
      >
    </div>
    <div id="container_svg8701963453">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 372 130"
        id="svg8701963453"
        ><path
          d="M 140.46 0 L 66.96 129.885 L 0 129.885 L 57.392 28.466 C 66.289 12.745 88.49 0 106.98 0 Z M 304.665 32.471 C 304.665 14.538 319.654 0 338.145 0 C 356.636 0 371.625 14.538 371.625 32.471 C 371.625 50.405 356.636 64.943 338.145 64.943 C 319.654 64.943 304.665 50.405 304.665 32.471 Z M 153.015 0 L 219.975 0 L 146.475 129.885 L 79.515 129.885 Z M 232.101 0 L 299.061 0 L 241.669 101.419 C 232.772 117.141 210.571 129.885 192.08 129.885 L 158.6 129.885 Z"
          fill="var(--token-f32baa44-90b8-42a5-8bca-ffba9d95b23a, rgb(15, 17, 21))"
        ></path></svg
      >
    </div>
  </div> -->

  <!-- <p>
    We stand on the shoulders of giants. Shortcuts, and especially those that
    somehow reinvent the wheel at the same time, often don't pay off! It took a
    <a href="https://en.wikipedia.org/wiki/Masters_of_Doom">very special book</a
    > (along with some <em>tough</em> life lessons) to convince me otherwise.
  </p>

  <p>
    Now, I get that a site built on a <a href="https://astro.build"
      >meta-framework</a
    >, hosted on a <a href="https://pages.cloudflare.com/">CDN</a>
     isn't especially bottom-up. And you'd be right. If you want bottom up from
    me, visit
    <a href="https://mc.maatwo.com">mc.maatwo.com</a> using a certain video game
    associated with port number 25565 😏
  </p>

  <p>
    This website is a space of <a
      href="https://github.com/multimattia/astro-starter-blog/commits/main/"
      >constant iteration</a
    >. Although "move fast and break things" might not be the wisest choice in
    production, I feel that it's a valid <Tooltip
      text="way"
      hover="The best way."
    />
     to learn. As such, things may not always be working as intended. Take care
    to not trip over something while you're in my small corner of the internet
    :)
  </p> -->
</BaseLayout>

<script src="@animations/index-anim.js"></script>

<style>
  h2 {
    font-weight: 300;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
  }
  html.dark a:visited {
    color: var(--color-night-a);
  }

  html.dark .bottom a:visited {
    color: var(--color-light-a);
  }

  a:visited {
    color: var(--color-light-a);
  }

  html.dark .postit p {
    color: black;
  }

  html.dark .postit p::selection {
    background-color: var(--color-light-a-highlight);
  }

  html.dark .postit a::selection {
    background-color: var(--color-light-a-highlight);
  }

  html.dark .postit a {
    color: var(--color-light-a);
  }

  html.dark .postit a:visited {
    color: var(--color-light-a-visited);
  }

  html.dark .postit a:hover {
    background-color: var(--color-light-a-highlight);
  }

  .postit {
    transform: rotate(-0.8deg);
    margin-top: 1rem;
    padding: 1.3rem 2rem;
    background-color: #ffeba1;
    position: relative;
    bottom: 10px;
    -webkit-box-shadow: -11px 12px 9px -2px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: -11px 12px 9px -2px rgba(0, 0, 0, 0.46);
    box-shadow: -11px 12px 9px -2px rgba(0, 0, 0, 0.46);
    transition: transform 0.3s ease;
  }

  @media screen and (max-width: 687px) {
    h2 {
      text-align: left;
    }
  }
</style>
