---
import BaseLayout from "@layouts/BaseLayout.astro";
import Footer from "../components/LayoutComponents/Footer.astro";
import Tooltip from "@components/pizazz/Tooltip.astro";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle} highlightedTab={pageTitle}>
  <h1 class="type">Welcome!</h1>
  <p>
    Hi! I'm <a href="https://www.linkedin.com/in/matthew-chan-skid23/"
      >Matt Chan.</a
    >
     I'm a software developer and part-time writer. My current focus is on
    full-stack web development!
  </p>
  <p>
    Full stack can mean a lot of things to a lot of people. Here's what it means
    to me: I'm willing to learn from the bottom-up. In the case of the web —
    where the term "full-stack" is most often used — that means having an
    understanding of the protocols on which the internet is built on.
  </p>

  <p>
    We stand on the shoulders of giants. Shortcuts, and especially those that
    somehow reinvent the wheel at the same time, often don't pay off! It took a
    <a href="https://en.wikipedia.org/wiki/Masters_of_Doom">very special book</a
    > (along with some <em>tough</em> life lessons) to convince me otherwise.
  </p>

  <p>
    Now, I get that a site built on a <a href="https://astro.build"
      >meta-framework</a
    >, hosted on a <a href="https://pages.cloudflare.com/">CDN</a>
     isn't especially bottom-up. And you'd be right. If you want bottom up from
    me, visit
    <a href="https://mc.maatwo.com">mc.maatwo.com</a> using a certain video game
    associated with port number 25565 😏
  </p>

  <p>
    This website is a space of <a
      href="https://github.com/multimattia/astro-starter-blog/commits/main/"
      >constant iteration</a
    >. Although "move fast and break things" might not be the wisest choice in
    production, I feel that it's a valid <Tooltip
      text="way"
      hover="The best way."
    />
     to learn. As such, things may not always be working as intended. Take care
    to not trip over something while you're in my small corner of the internet
    :)
  </p>
  <Footer />
</BaseLayout>

<style>
  .type {
    width: 6.8ch;
    animation: type var(--title-time) var(--improved-ease);
    overflow: hidden;
    white-space: nowrap;
  }

  @keyframes type {
    0% {
      width: 0;
    }
  }
</style>
