---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle} highlightedTab={pageTitle}>
  <h2>Welcome to my blog!</h2>
  <p>
    This is Matt's blog, which he made when he really should be practicing
    LeetCode.
  </p>
  <p>
    This site was proudly made with <a
      href="https://astro.build/"
      target="_blank">Astro</a
    >.
  </p>
</BaseLayout>
