---
const { post, url } = Astro.props;
---

<a draggable="false" href={url}>
  <div class="postContainer">
    <span class="titleAndDate">
      <dt class="postTitle">
        {post.data.title}
      </dt>
      <dd class="postTime">
        {
          post.data.pubDate
            ? `${post.data.pubDate.toString().slice(3, 10)},
        ${post.data.pubDate.toString().slice(10, 15)}`
            : ""
        }
      </dd>
    </span>
    <dd class="postDesc">{post.data.description}</dd>
    <dd class="tagList">{post.data.tags.join(", ")}</dd>
  </div>
</a>

<style>
  a {
    text-decoration: unset;
    font-weight: unset;
    margin: 0;
  }

  .postContainer {
    display: flex;
    padding: 0.5rem 1rem;
    margin: 0 0 1rem 0;
    flex-direction: column;
    background-color: var(--color-light-listing-bg);
    border-radius: 7px;
    min-height: 10rem;
    transition: all 0.25s var(--improved-ease);
  }

  .postContainer:hover {
    background-color: var(--color-light-listing-hl);
    scale: 102%;
    animation: gentle-rotate 2.45s infinite var(--improved-ease);
  }

  .postContainer:active {
    scale: 98%;
  }

  html.dark .postContainer {
    background-color: var(--color-night-listing-bg);
  }

  html.dark .postContainer:hover {
    background-color: var(--color-night-listing-hl);
  }

  dt {
    font-size: 1.55rem;
    line-height: 1.4;
    color: var(--color-light-a);
    margin-inline-start: 0px;
  }

  dd {
    color: var(--color-light-deemp);
    margin-inline-start: 0px;
    font-style: oblique;
  }

  html.dark dt {
    color: var(--color-night-a);
  }

  html.dark dd {
    color: var(--color-night-deemp);
  }

  .postTime {
    font-size: 0.9rem;
  }

  .postDesc {
    flex-grow: 1;
  }

  .tagList {
    font-style: unset;
    font-family: monospace;
    justify-self: flex-end;
  }

  @keyframes gentle-rotate {
    0% {
      transform: rotate(-0.45deg);
    }
    50% {
      transform: rotate(0.45deg);
    }
    100% {
      transform: rotate(-0.45deg);
    }
  }

  @media screen and (min-width: 687px) {
    .titleAndDate {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
    .postTime {
      margin-bottom: 5px;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .postContainer {
      transition: none;
    }

    .postContainer:hover {
      scale: none;
      transition: all 0.25s var(--improved-ease);
      animation: none;
    }

    .postContainer:active {
      scale: none;
    }
  }
</style>
