---
import { Image } from "astro:assets";

const { src, alt } = Astro.props;
---

<div class="blogimage">
  <Image class="image" src={src} alt={alt} />
  <figcaption id="imgcap">{alt}</figcaption>
</div>

<style is:inline>
  .blogimage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.35rem;
    margin: 1rem 0;
  }

  .image {
    max-width: 95%;
    height: auto;
    border-radius: 7px;
  }

  figcaption {
    font-size: 0.85rem;
  }

  /* replace with your own media query */
  @media screen and (min-width: 687px) {
    .image {
      max-width: 98%;
    }
  }
</style>
