---
import { ViewTransitions } from "astro:transitions";
const { pageTitle, meta } = Astro.props;
import { AstroFont } from "astro-font";
import { join } from "node:path";
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<meta name="theme-color" content="#f1f5f9" />
<meta
  name="description"
  content={meta
    ? meta
    : "Software Developer Matt Chan's corner of the internet."}
/>
<title>{pageTitle} • Matt C</title>
<!-- 100% privacy-first analytics -->
<script
  data-astro-rerun
  async
  defer
  src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<!-- <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript> -->
<ViewTransitions />
<AstroFont
  config={[
    {
      name: "gabarito",
      src: [
        {
          style: "normal",
          path: join(
            process.cwd(),
            "public",
            "fonts",
            "Gabarito-Variable.woff2"
          ),
        },
      ],
      cssVariable: "gabarito",
      preload: true,
      display: "swap",
      fallback: "sans-serif",
    },
  ]}
/>
