---

---

<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>

<style>
  .hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding-bottom: 7px;
  }

  .hamburger .line {
    display: block;
    width: 30px;
    height: 3px;
    margin: 3px 0;
    background-color: var(--color-light-a);
    border-radius: 2px;
  }

  html.dark .hamburger .line {
    background-color: var(--color-light-bg);
  }

  @media screen and (min-width: 687px) {
    .hamburger {
      display: none;
    }
  }
</style>
