---
import Navigation from "@components/Navigation.astro";
import Hamburger from "@components/Hamburger.astro";
import ThemeIcon from "@components/ThemeIcon.astro";
const { activeLink } = Astro.props;
---

<header>
  <nav>
    <div class="header">
      <span class="container">
        <span class="hamburger">
          <Hamburger />
        </span>
        <Navigation activeLink={activeLink} />
        <span class="icon-container">
          <ThemeIcon />
        </span>
      </span>
    </div>
  </nav>
</header>

<style>
  .container {
    display: flex;
    position: fixed;
    background-color: #f2f5f9;
    justify-content: space-between;
    align-items: center;
    top: 1;
    padding: 12px 0;
    z-index: 100;
    width: 100%;
  }

  .icon-container {
    margin: 6px 30px 0 3%;
  }

  .hamburger {
    align-self: flex-start;
  }

  .expanded {
    display: none;
  }

  html.dark .container {
    background-color: #0d0850;
  }

  html.dark .header {
    background-color: #0d0850;
  }

  @media screen and (min-width: 687px) {
    .container {
      justify-content: unset;
      align-items: center;
      width: 60ch;
    }

    .header {
      background-color: #f2f5f9;
      position: fixed;
      height: 83px;
      width: 100%;
      z-index: 101;
    }

    .nav-links {
      flex-grow: 1;
    }

    .icon-container {
      margin: 14px 10px 10px 10px;
      flex-grow: 0;
    }
  }
</style>
