---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
const { activeLink } = Astro.props;
---

<header>
  <nav>
    <Hamburger />
    <Navigation activeLink={activeLink} />
  </nav>
</header>
