---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
const { activeLink } = Astro.props;
---

<header>
  <div class="container">
    <nav>
      <Hamburger />
      <Navigation activeLink={activeLink} />
      <div class="iconContainer">
        <ThemeIcon />
      </div>
    </nav>
  </div>
</header>

<style>
  nav {
    display: flex;
    background-color: #f1f5f9;
    justify-content: stretch;
    align-items: start;
    position: fixed;
    top: 0;
    padding: 10px 0;
    z-index: 100;
    width: 95%;
    max-width: 800px;
  }

  nav > div:nth-child(3) {
    align-self: center;
    margin-left: auto;
    justify-self: flex-end;
  }

  .expanded {
    display: none;
  }

  html.dark nav {
    background-color: #0d0850;
  }

  @media screen and (min-width: 637px) {
    nav {
      display: flex;
    }
  }
</style>
