---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
const { activeLink } = Astro.props;
---

<header>
  <nav>
    <span class="container">
      <span class="hamburger">
        <Hamburger />
      </span>
      <Navigation activeLink={activeLink} />
      <span class="icon-container">
        <ThemeIcon />
      </span>
    </span>
  </nav>
</header>

<style>
  .container {
    display: flex;
    position: fixed;
    background-color: #f1f5f9;
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding: 10px 0;
    z-index: 100;
    width: 100%;
  }

  .icon-container {
    margin: 6px 30px 0 3%;
  }

  .hamburger {
    align-self: flex-start;
  }

  .expanded {
    display: none;
  }

  html.dark .container {
    background-color: #0d0850;
  }

  @media screen and (min-width: 687px) {
    .container {
      justify-content: unset;
      align-items: center;
    }

    .nav-links {
      flex-grow: 1;
    }

    .icon-container {
      margin: 8px 10px 10px 10px;
      flex-grow: 0;
    }
  }
</style>
