---
const { activeLink } = Astro.props;
const linkList = [
  ["Home", "/"],
  ["About", "/about"],
  ["Blog", "/blog"],
  ["Tags", "/tags"],
];
---

<div class="nav-links">
  {
    linkList.map((link) => (
      <a
        href={link[1]}
        style={
          activeLink.toLowerCase() === link[0].toLowerCase()
            ? "text-decoration:underline; text-decoration-thickness: 4px; text-underline-offset: 5px;"
            : ""
        }
      >
        {link[0]}
      </a>
    ))
  }
</div>

<style>
  .nav-links {
    /* top: 5rem; */
    display: none;
  }

  .nav-links a {
    display: block;
    text-align: center;
    padding: 0;
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 2px 5% 2px 2%;
    letter-spacing: -1.2px;
  }

  .nav-links a:hover,
  .nav-links a:focus {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 5px;
  }

  html.dark .nav-links a:hover,
  html.dark .nav-links a:focus {
    background-color: #755c55;
  }

  html.dark .nav-links a {
    color: white;
  }

  .expanded {
    display: unset;
    flex-grow: 1;
  }

  @media screen and (min-width: 686px) {
    .nav-links {
      display: block;
      top: 0px;
      width: auto;
      min-width: 81%;
      background: none;
      flex-grow: 1;
    }

    .nav-links a {
      display: inline-block;
      margin: 0 10px;
    }

    .nav-links a:nth-child(1) {
      margin-left: 0;
    }
  }
</style>
