---
const { activeLink } = Astro.props;
const linkList = [
  ["Home", "/"],
  ["About", "/about"],
  ["Blog", "/blog"],
  ["Tags", "/tags"],
];
---

<div class="nav-links">
  {
    linkList.map((link) => (
      <a
        href={link[1]}
        style={
          activeLink.toLowerCase() === link[0].toLowerCase()
            ? "text-decoration:underline"
            : "font-weight:100"
        }
      >
        {link[0]}
      </a>
    ))
  }
</div>

<style>
  .nav-links {
    display: none;
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    margin: 0;
  }

  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #33037b;v
    border-radius: 5px;
  }

  .nav-links a:hover,
  .nav-links a:focus {
    background-color: rgb(237, 179, 235);
  }

  html.dark .nav-links a:hover,
  html.dark .nav-links a:focus {
    background-color: #755c55;
  }

  html.dark .nav-links a {
    color: white;
  }
  .expanded {
    display: unset;
  }

  @media screen and (min-width: 636px) {
    .nav-links {
      display: block;
      position: static;
      width: auto;
      background: none;
    }

    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
  }
</style>
