---
const { tags } = Astro.props;
---

<div class="tags">
  {
    tags
      .filter((tag) => tag !== "personal")
      .map((tag: string) => (
        <a href={`/tags/${tag}`}>
          <p class="tag">{tag?.toLowerCase()}</p>
        </a>
      ))
  }
</div>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    margin: 1.2rem 0 1rem 0;
  }

  .tag {
    margin: 0 0.65em;
    border: none;
    border-radius: 5px;
    padding: 0.3em 0.8em;
    font-family: monospace;
    background-color: var(--color-light-listing-bg);
  }
  .tag:first-of-type {
    margin-left: 0;
  }

  a:hover {
    background-color: unset;
  }

  html.dark a:hover {
    background-color: unset;
  }

  html.dark .tag {
    background-color: var(--color-night-listing-bg);
  }

  html.dark a {
    color: var(--color-night-deemp);
  }
</style>
