---
const { tags } = Astro.props;
---

<div class="tags">
  {
    tags
      .filter((tag) => tag !== "personal")
      .map((tag: string) => (
        <a href={`/tags/${tag}/`} id="single-tag">
          <p class="tag">{tag?.toLowerCase()}</p>
        </a>
      ))
  }
</div>

<script>
  import { stagger, timeline } from "motion";
  if (window.location.pathname === "/blog/") {
    document.addEventListener("astro:page-load", () => {
      const tags = document.querySelectorAll("#single-tag");
      const personal = document.getElementById("personal");
      console.log(tags);
      let sequence;
      sequence = [
        [
          personal,
          { opacity: [0, 1], transform: ["translateX(30px)", "translateX(0)"] },
          {
            delay: 0.9,
            duration: 0.2,
            easing: [0.22, 0.03, 0.26, 1],
          },
          { allowWebkitAcceleration: true },
        ],
        [
          tags,
          { transform: ["translateY(-30px)", "translateY(0)"] },
          {
            delay: stagger(0.03),
            duration: 0.2,
            easing: [0.22, 0.03, 0.26, 1],
          },
          { allowWebkitAcceleration: true },
        ],
        [
          tags,
          { opacity: [0, 1] },
          {
            delay: stagger(0.03),
            duration: 0.2,
            easing: [0.22, 0.03, 0.26, 1],
            at: "<",
          },
          { allowWebkitAcceleration: true },
        ],
      ];
      timeline(sequence);
    });
  }
</script>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    margin: 1.2rem 0 1rem 0;
  }

  .tag {
    margin: 0 0.65em;
    border: none;
    border-radius: 5px;
    padding: 0.3em 0.8em;
    font-family: monospace;
    background-color: var(--color-light-listing-bg);
  }
  .tag:first-of-type {
    margin-left: 0;
  }

  a:hover {
    background-color: unset;
  }

  html.dark a:hover {
    background-color: unset;
  }

  html.dark .tag {
    background-color: var(--color-night-listing-bg);
  }

  html.dark a {
    color: var(--color-night-deemp);
  }
</style>
