---
const { tags } = Astro.props;
---

<div class="tags">
  {
    tags.map((tag: string) => (
      <a href={`/tags/${tag}`}>
        <p class="tag">{tag?.toLowerCase()}</p>
      </a>
    ))
  }
</div>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0 0.25em;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    font-family: monospace;
    background-color: var(--color-light-listing-bg);
  }

  a:hover {
    background-color: unset;
  }

  html.dark a:hover {
    background-color: unset;
  }

  html.dark .tag {
    background-color: var(--color-night-listing-bg);
  }

  html.dark a {
    color: var(--color-night-deemp);
  }
</style>
