---
import BaseLayout from "@layouts/BaseLayout.astro";
import WnrsQuestion from "@components/pizazz/WnrsQuestion.svelte";
---

<BaseLayout pageTitle="WNRS: Level 1">
  <WnrsQuestion client:only level={1} />
  <div class="controls">
    <div class="one">
      <p><a href="../">{`HOME`}</a></p>
    </div>
    <div class="two">
      <p><a href="../level-2/">CONNECTION</a></p>
    </div>
  </div>
</BaseLayout>

<style>
  .controls {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .controls a {
    text-decoration: none;
  }
</style>
