---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Games">
  <h1>WE'RE NOT REALLY STRANGERS</h1>
  <ul>
    <li><a href="./level-1/">LEVEL 1</a></li>
    <li><a href="./level-2/">LEVEL 2</a></li>
    <li><a href="./level-3/">LEVEL 3</a></li>
  </ul>
</BaseLayout>
