---
import BaseLayout from "@layouts/BaseLayout.astro";
import WnrsQuestion from "@components/pizazz/WnrsQuestion.svelte";
---

<BaseLayout pageTitle="WNRS: Level 1">
  <h3><a href="../">{`<`}</a></h3>
  <h1>Level 1</h1>
  <WnrsQuestion client:load level={1} />
  <p><a href="../level-2/">level 2</a></p>
</BaseLayout>
