---
import Header from "../components/LayoutComponents/Header.astro";
import "@fontsource-variable/lexend";
import "../styles/global.css";
const { pageTitle, highlightedTab } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Personal website for software developer Matt Chan. Features a blog and some short stories."
    />
    <title>{pageTitle} | Matt C</title>
  </head>
  <body>
    <Header activeLink={highlightedTab} />
    <slot />
  </body>
</html>
