---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/lexend";
import "../styles/global.css";
const { pageTitle, highlightedTab } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Matt C | {pageTitle}</title>
  </head>
  <body>
    <Header activeLink={highlightedTab} />
    <div class="content">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style>
  .content {
    flex: 1 0 auto;
    margin-top: 60px;
  }
</style>
