---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/lexend";
import "../styles/global.css";
const { pageTitle, highlightedTab } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Matt C | {pageTitle}</title>
  </head>
  <body>
    <div class="content">
      <Header activeLink={highlightedTab} />
      <div class="spacer"></div>
      <slot />
      <script>
        document.addEventListener("", () => {
          const hamburger = document.querySelector(".hamburger");
          if (hamburger) {
            hamburger.addEventListener(
              "click",
              () => {
                const navLinks = document.querySelector(".nav-links");
                const modeToggle = document.querySelector(".iconContainer");
                if (navLinks && modeToggle) {
                  navLinks.classList.toggle("expanded");
                  modeToggle.classList.toggle("expanded");
                }
              },
              { once: false },
            );
          }
        });
      </script>
    </div>
    <footer>
      <Footer />
    </footer>
    <style>
      .spacer {
        min-height: 60px;
      }
      .content {
        flex: 1 0 auto;
      }

      .footer {
        flex-shrink: 0;
        background-color: red;
      }
    </style>
  </body>
</html>
