---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
import TagCluster from "../components/TagCluster.astro";
---

<BaseLayout pageTitle="Blog" highlightedTab="Blog">
  <h1>{frontmatter.title}</h1>
  <p class="indicator">tags:</p>
  <div class="tags">
    {
      frontmatter.tags.map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <p class="indicator">Published on:</p>
  <p class="field" style="font-family:monospace">
    {frontmatter.pubDate.toString().slice(0, 10)}
  </p>
  <slot />
</BaseLayout>

<style is:inline>
  .astro-code {
    padding: 10px;
  }
</style>

<style>
  a {
    color: #00539f;
    font-family: monospace;
  }

  .indicator {
    color: #757474;
    font-style: italic;
    font-family: monospace;
    margin-bottom: 2px;
  }
  html.dark .indicator {
    color: rgb(225, 225, 225);
  }

  .field {
  }

  .tags {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 0.85em;
    background-color: #f8fcfd;
  }
</style>

<!-- <style is:inline>
  .astro-code {
    padding: 10px;
    border-radius: 3px;
  }
</style> -->
