---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout pageTitle="Fiction" highlightedTab="Fiction">
  <h1>{frontmatter.title}</h1>
  <span class="date-container">
    <h5 class="field">
      {frontmatter.pubDate.toString().slice(4, 15)}
    </h5>
  </span>
  <slot />
</BaseLayout>

<style is:inline>
  p {
    margin: 0;
  }

  p + p {
    text-indent: 3ch;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  li,
  ul {
    font-family: Palatino, "Times New Roman", Times, serif;
  }

  p:nth-child(3) {
    padding-top: 20px;
  }

  p:nth-child(3)::first-letter {
    float: left;
    font-family: Georgia;
    font-size: 3.7rem;
    line-height: 2.9rem;
    margin-top: 0.35rem;
    padding-right: 0.55rem;
    padding-left: 0.15rem;
  }

  @-moz-document url-prefix() {
    p:nth-child(3)::first-letter {
      margin-top: 0.55rem;
    }
  }

  @media screen and (min-width: 687px) {
    p:nth-child(3)::first-letter {
      font-size: 4.5rem;
      line-height: 2rem;
      margin-top: 1.1rem;
      padding-right: 0.55rem;
    }
    @-moz-document url-prefix() {
      p:nth-child(3)::first-letter {
        margin-top: 0.55rem;
      }
    }
  }

  h1 + h1,
  h2,
  h3,
  h4,
  h6 {
    padding-top: 2em;
    padding-bottom: 1em;
  }
</style>

<style>
  .field {
    font-family: monospace;
  }
</style>
